<%= stylesheet_link_tag "project_item" %>
<%= stylesheet_link_tag "comments" %>
<%= render :partial => "elements/header", :locals => { :title => @project.title } %>
        <script type='text/javascript' src='../scripts/scroll.js'></script>
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
        	<div id='inner_container'>
                <div id='project_item_title_text'><%= @project.title %></div>
        		
        		<div id='project_item_middle_container'>
	        		<div id='project_item_info_container'>
	        			<div class='project_item_info_entry'>
	        				<div class='project_item_info_title'>- Category:</div>
                            <div class='project_item_info_value'><%= @project.category %></div>
	        			</div>
	        			<div class='project_item_info_entry'>
	        				<div class='project_item_info_title'>- Time:</div>
                            <div class='project_item_info_value'><%= @project.time %></div>
	        			</div>
	        			<div class='project_item_info_entry'>
	        				<div class='project_item_info_title'>- Developers:</div>
	        				<div class='project_item_info_value'>
                                <% developers = @project.developers.split(",") %>
                                <% developers.each do |d| %>
                                  <%= d %><br />
                                <% end %>
	        				</div>
	        			</div>
	        		</div>
	        		
              <div id='project_item_image_container'>
                <%= image_tag @project.image %>
              </div>
        		</div>
        		
        		<div class='text-body' id='project_item_text_container'>
                  <%= @project.content.html_safe %>
        		</div>

                <%= render :partial => "elements/social_buttons" %>

                <div id="comment_container">
                  <div id="comment_title">comments</div>
                  <div id="comment_list">
                    <% comments = @project.project_comments %>
                    <% comments.each do |c| %>
                      <div class="comment_item">
                        <div class="comment_name"><%= c.name %></div>
                        <div class="comment_datetime"><%= c.created_at.strftime("%a, %b %d, %Y") %></div>
                        <article>
                          <div class="comment_content"><%= c.content %></div>
                        </article>
                      </div>
                    <% end %>
                  </div>

                  <div id="comment_form_container">
                    <div id="comment_form_title">write your comment</div>
                    <%= form_tag @project.id.to_s + "/add_comment", :method => "post" do %>
                      <%= label_tag :name, "name" %>
                      <%= text_field_tag :name, nil, :class => "field" %><br />
                      <%= label_tag :content, "comment" %><br />
                      <%= text_area_tag :content, nil, :class => "field" %><br />
                      <%= submit_tag "submit" %>
                    <% end %>
                  </div>

                </div>
        	</div>

        </div>
