<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <title>Weaver at Work</title>
        <%= stylesheet_link_tag "general" %>
        <%= stylesheet_link_tag "fonts" %>
        <%= stylesheet_link_tag "nav_bar" %>
        <%= stylesheet_link_tag "corner_banner" %>
        <%= javascript_include_tag "index" %>
    </head>
    <body>
        <div id='upper_right_corner_banner_container'>
          	<div id='corner_banner'>
            	<div id='banner_content'>
                    <span id='banner_weaver_part'>weaver</span>
                    <span id='banner_contact_part'>
                      <a id="github_link">My Github</a>
                      <script>
                        document.getElementById("github_link").onclick = function() {
                          window.location = "http://github.com/guanlun";
                        };
                      </script>
                    </span>
                </div>
            </div>
        </div>
        <div id='talkbubble'></div>
