<%= stylesheet_link_tag "list_page" %>
<%= render :partial => "elements/header", :locals => { :title => 'Gallery' } %>
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
        	<div id='inner_container'>
              <div id="list_title">gallery</div>
              <div id="list_container">
                <% if @galleries.empty? %>
                  No Gallery Available
                <% else %>
                  <% @galleries.each do |g| %>
                    <div class="list_item">
                      <div class="list_item_title"><%= link_to g.title, g.id.to_s %></div>
                      <div class="list_item_datetime"><%= g.created_at.strftime("%a, %b %d, %Y") %></div>
                      <div class="list_item_quote">“</div>
                      <div class="list_item_content"><%= g.description %></div>
                      <div class="list_item_gallery_container">
                        <div class="list_item_gallery_list">
                        <% g.pictures.each do |p| %>
                          <div class="list_item_gallery_item"><%= image_tag p.link %></div>
                        <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
        	</div>
        </div>
<%= render :partial => "elements/footer" %>
