<%= stylesheet_link_tag "gallery" %>
<%= stylesheet_link_tag "comments" %>
<%= render :partial => "elements/header", :locals => { :title => @gallery.title } %>
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
            <div id='inner_container'>
              <div id='gallery_item_title_text'>
                <%= @gallery.title %>
              </div>
	        	</div>

            <div id="gallery_info_container">
              <div id="gallery_item_date_text"><%= @gallery.created_at.strftime("%a, %b, %d, %Y") %></div>
              <div id="gallery_item_description_text"><%= @gallery.description %></div>
            </div>

            <div id="gallery_wrapper" class="smart_tile_container">
              <% @gallery.pictures.each do |p| %>
                <%= image_tag p.link, :data => { :title => p.title, :description => p.created_at.strftime('%a, %b %d, %Y') } %>
              <% end %>
            </div>
            <%= render :partial => "elements/social_buttons" %>

            <div id="comment_container">
              <div id="comment_title">comments</div>
              <div id="comment_list">
                <% comments = @gallery.gallery_comments.sort_by do |t| t.created_at end %>
                <% if comments.empty? %>
                  No comment now. Be the first one to comment!
                <% else %>
                  <% comments.each do |c| %>
                    <div class="comment_item">
                      <div class="comment_name"><%= c.name %></div>
                      <div class="comment_datetime"><%= c.created_at.strftime("%a, %b %d, %Y") %></div>
                      <article>
                        <div class="comment_content"><%= c.content %></div>
                      </article>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div id="comment_form_container">
                <div id="comment_form_title">write your comment</div>
                <%= form_tag @gallery.title.downcase.gsub(' ', '_') + "/add_comment", :method => "post" do %>
                  <%= label_tag :name, "name" %>
                  <%= text_field_tag :name, nil, :class => "field" %><br />
                  <%= label_tag :content, "comment" %><br />
                  <%= text_area_tag :content, nil, :class => "field" %><br />
                  <%= submit_tag "submit" %>
                <% end %>
              </div>
            </div>
	        </div>
        </div>
