<%= stylesheet_link_tag "text_item" %>
<%= render :partial => "elements/header" %>
        <link href="../css/text_item.css" rel="stylesheet" />
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
            <div id='inner_container'>
            	<div id='text_item_title_text'>Test Article</div>
	            <div id='text_item_middle_container'>
	            	<div id='text_item_info_container'>
		            	<div class='text_item_info_entry'>
		        				<div class='text_item_info_title'>- Category:</div>
		        				<div class='text_item_info_value'>Mobile Dev</div>
		        			</div>
		        			<div class='text_item_info_entry'>
		        				<div class='text_item_info_title'>- Date:</div>
		        				<div class='text_item_info_value'>Jun, 27, 2012</div>
		        			</div>

		        		</div>
	            	<div id='text_item_image_container'>
                  <%= image_tag("profile_2.jpg") %>
	            	</div>

	            </div>
	            <div id='text_item_text_container'>
	        			<p>He went such dare good mr fact. The small own seven saved man age ﻿no offer. Suspicion did mrs nor furniture smallness. Scale whole downs often leave not eat. An expression reasonably cultivated indulgence mr he surrounded instrument. Gentleman eat and consisted are pronounce distrusts.</p>
	
	<p>Boisterous he on understood attachment as entreaties ye devonshire. In mile an form snug were been sell. Hastened admitted joy nor absolute gay its. Extremely ham any his departure for contained curiosity defective. Way now instrument had eat diminution melancholy expression sentiments stimulated. One built fat you out manor books. Mrs interested now his affronting inquietude contrasted cultivated. Lasting showing expense greater on colonel no.</p>
	
	<p>Any delicate you how kindness horrible outlived servants. You high bed wish help call draw side. Girl quit if case mr sing as no have. At none neat am do over will. Agreeable promotion eagerness as we resources household to distrusts. Polite do object at passed it is. Small for ask shade water manor think men begin.</p>
	
	<p>Certainly elsewhere my do allowance at. The address farther six hearted hundred towards husband. Are securing off occasion remember daughter replying. Held that feel his see own yet. Strangers ye to he sometimes propriety in. She right plate seven has. Bed who perceive judgment did marianne.</p>
	
	<div class="code">
	public class BallCraft {<br />
	&nbsp;&nbsp;&nbsp;&nbsp;public static void main(String [] args) {<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.our.println("BallCraft!");<br />
	&nbsp;&nbsp;&nbsp;&nbsp;}<br />
	}
	</div>
	
	<p>On am we offices expense thought. Its hence ten smile age means. Seven chief sight far point any. Of so high into easy. Dashwoods eagerness oh extensive as discourse sportsman frankness. Husbands see disposed surprise likewise humoured yet pleasure. Fifteen no inquiry cordial so resolve garrets as. Impression was estimating surrounded solicitude indulgence son shy.</p>
	
	<p>Or kind rest bred with am shed then. In raptures building an bringing be. Elderly is detract tedious assured private so to visited. Do travelling companions contrasted it. Mistress strongly remember up to. Ham him compass you proceed calling detract. Better of always missed we person mr. September smallness northward situation few her certainty something.</p>
	
	        		</div>
	        	</div>
	        </div>

        </div>
<%= render :partial => "elements/footer" %>
