<%= stylesheet_link_tag "list_page" %>
<%= render :partial => "elements/header", :locals => { :title => 'Texts' } %>
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
            <div id='inner_container'>
              <div id="list_title">texts</div>
              <div id="list_container">

                <% @texts.each do |t| %>
                  <div class="list_item">
                    <div class="list_item_title"><%= link_to t.title, '/texts/' + t.title.downcase.gsub(' ', '_') %></div>
                    <div class="list_item_datetime"><%= t.created_at.strftime("%a, %b %d, %Y") %></div>
                    <div class="list_item_quote">“</div>
                    <div class="list_item_content">
                      <%= t.description %>
                      <!--
                      <% content = raw t.content %>
                      <% if content.length > 250 %>
                        <% curr = 250 %>
                        <% while content[curr] != " " do %>
                          <% curr += 1 %>
                        <% end %>
                        <%= content[0 .. curr] + " ..."%>
                      <% else %>
                        <%= content %>
                      <% end %>
                      -->
                    </div>
                  </div>
                <% end %>
                
              </div>
	        	</div>
	        </div>

        </div>
