<%= stylesheet_link_tag "text_item" %>
<%= stylesheet_link_tag "comments" %>
<%= render :partial => "elements/header", :locals => { :title => @text.title } %>
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
            <div id='inner_container'>
              <div id='text_item_title_text'>
                <%= @text.title %>
              </div>
	            <div id='text_item_middle_container'>
	            	<div id='text_item_info_container'>
		            	<div class='text_item_info_entry'>
		        				<div class='text_item_info_title'>- Category:</div>
                    <div class='text_item_info_value'><%= @text.category %></div>
		        			</div>
		        			<div class='text_item_info_entry'>
		        				<div class='text_item_info_title'>- Date:</div>
                    <div class='text_item_info_value'>
                      <%= @text.created_at.strftime("%a, %b %d, %Y") %>
                    </div>
		        			</div>

		        		</div>
                <div id='text_item_image_container'>
                  <%= image_tag @text.image %>
                </div>

	            </div>
	            <div class='text-body' id='text_item_text_container'>
                <%= @text.content.html_safe %>
	        		</div>
	        	</div>

            <%= render :partial => "elements/social_buttons" %>

            <div id="comment_container">
              <div id="comment_title">comments</div>
              <div id="comment_list">
                <% comments = @text.text_comments %>
                <% if comments.empty? %>
                  No comment now. Be the first one to comment!
                <% else %>
                  <% comments.each do |c| %>
                    <div class="comment_item">
                      <div class="comment_name"><%= c.name %></div>
                      <div class="comment_datetime"><%= c.created_at.strftime("%a, %b %d, %Y") %></div>
                      <article>
                        <div class="comment_content"><%= c.content %></div>
                      </article>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div id="comment_form_container">
                <div id="comment_form_title">write your comment</div>
                <%= form_tag @text.id.to_s + "/add_comment", :method => "post" do %>
                  <%= label_tag :name, "name" %>
                  <%= text_field_tag :name, nil, :class => "field" %><br />
                  <%= label_tag :content, "comment" %><br />
                  <%= text_area_tag :content, nil, :class => "field" %><br />
                  <%= submit_tag "submit" %>
                <% end %>
              </div>

            </div>
          </div>

        </div>
        <script>
          $(document).keypress(function(e) {
            if(e.which == 13 && e.target.nodeName != "textarea") return false;
          });
        </script>
<%= render :partial => "elements/footer" %>
