<%= stylesheet_link_tag "text_item" %>
<%= render :partial => "elements/header" %>
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
            <div id='inner_container'>
              <div id='text_item_title_text'>
                <%= @text.title %>
              </div>
	            <div id='text_item_middle_container'>
	            	<div id='text_item_info_container'>
		            	<div class='text_item_info_entry'>
		        				<div class='text_item_info_title'>- Category:</div>
                    <div class='text_item_info_value'><%= @text.category %></div>
		        			</div>
		        			<div class='text_item_info_entry'>
		        				<div class='text_item_info_title'>- Date:</div>
                    <div class='text_item_info_value'>
                      <%= @text.created_at.strftime("%a, %b %d, %Y") %>
                    </div>
		        			</div>

		        		</div>
	            	<div id='text_item_image_container'>
                  <%= image_tag(@text.image) %>
	            	</div>

	            </div>
	            <div id='text_item_text_container'>
                <%= raw @text.content %>
	        		</div>
	        	</div>

            <%= render :partial => "elements/social_buttons" %>

            <div id="text_comment_container">
              <div id="text_comment_title">comments</div>
              <div id="text_comment_list">
                <% comments = @text.text_comments %>
                <% comments.each do |c| %>
                  <div class="text_comment_item">
                    <div class="text_comment_name"><%= c.name %></div>
                    <div class="text_comment_datetime"><%= c.created_at.strftime("%a, %b %d, %Y") %></div>
                    <article>
                      <div class="text_comment_content"><%= c.content %></div>
                    </article>
                  </div>
                <% end %>
              </div>

              <div id="text_comment_form_container">
                <div id="text_comment_form_title">write your comment</div>
                <%= form_tag @text.id.to_s + "/add_comment", :method => "post" do %>
                  <%= label_tag :name, "name" %>
                  <%= text_field_tag(:name) %><br />
                  <%= label_tag :content, "comment" %><br />
                  <%= text_area_tag(:content) %><br />
                  <%= submit_tag("submit") %>
                <% end %>
              </div>

            </div>
	        </div>

        </div>
<%= render :partial => "elements/footer" %>
<!--
<script>
  document.title = "<%= @text.title %> - Weaver at Work";
</script>
-->
